200121_flows.json
[
    {
        "id": "c1790f94.1fa788",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27e94ab1.a717e6",
        "type": "subflow",
        "name": "1 s clear",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "1e9d1b9d.e58424"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 40,
                "wires": [
                    {
                        "id": "27e94ab1.a717e6",
                        "port": 0
                    },
                    {
                        "id": "d2bd78d3.41f238",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "node-red/timer.png"
    },
    {
        "id": "937d90ca.8d8b",
        "type": "ui_group",
        "name": "Duty Cycle",
        "tab": "8153eb0.fe96118",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8153eb0.fe96118",
        "type": "ui_tab",
        "name": "Funk",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "dd8cb1a4.10e1b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#138181",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#138181",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#138181",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1dc4c4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#138181",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            },
            "lockMenu": "false"
        }
    },
    {
        "id": "38263145.35ea0e",
        "type": "ccu-connection",
        "name": "localhost",
        "host": "localhost",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": true,
        "bcwiEnabled": true,
        "cuxdEnabled": true,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "127.0.0.1",
        "rpcServerHost": "127.0.0.1",
        "rpcBinPort": "2047",
        "rpcXmlPort": "2048",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": "default"
    },
    {
        "id": "46fbe67a.90cd18",
        "type": "ui_group",
        "name": "Variablen",
        "tab": "8e67aa83.e652d8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ef72ce25.023af",
        "type": "ui_tab",
        "name": "Programme",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "159fd603.b44a6a",
        "type": "ui_group",
        "name": "Programme",
        "tab": "ef72ce25.023af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65a72644.483318",
        "type": "ui_group",
        "name": "Rollos auf",
        "tab": "d9a62b87.022f78",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "d9a62b87.022f78",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "510978ab.7cc15",
        "type": "ui_group",
        "name": "Rollladensteuerung",
        "tab": "d9a62b87.022f78",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "6ad7a531.04aedc",
        "type": "position-config",
        "name": "Zeitzone Braunschweig",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "11a99b54.12d7c5",
        "type": "pwsapikey",
        "name": ""
    },
    {
        "id": "c7cf5b30.c72208",
        "type": "ui_tab",
        "name": "Rollo Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83a14265.ea301",
        "type": "ui_group",
        "name": "EG",
        "tab": "c7cf5b30.c72208",
        "order": 2,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "4fbeabc0.4eb114",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fef0dd9c.48b4",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c3abd25.5b9324",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fef0dd9c.48b4",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "67b1424b.30270c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "c7cf5b30.c72208",
        "order": 1,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "ea0abcea.34a5",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c7cf5b30.c72208",
        "order": 3,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "9f923d5e.632c08",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "c7cf5b30.c72208",
        "order": 4,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "ad8f4b33.ec4ff",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "c7cf5b30.c72208",
        "order": 5,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "7f17f2fe.66e3cc",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "c7cf5b30.c72208",
        "order": 6,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "68d1b9a.924e348",
        "type": "ui_group",
        "name": "Soundtouch",
        "tab": "a5aa690c.87a428",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "b6492d1d.e439",
        "type": "ui_group",
        "name": "Group",
        "tab": "a5aa690c.87a428",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29d31533.0524da",
        "type": "ui_group",
        "name": "Volume presets",
        "tab": "a5aa690c.87a428",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5609d593.d13b1c",
        "type": "ui_group",
        "name": "Shuffle",
        "tab": "a5aa690c.87a428",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75b50a15.6a3584",
        "type": "ui_group",
        "name": "Repeat",
        "tab": "a5aa690c.87a428",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5aa690c.87a428",
        "type": "ui_tab",
        "name": "Bose Soundtouch",
        "icon": "fa-music",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce953396.7838d",
        "type": "position-config",
        "name": "",
        "isValide": "false",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "c9474d61.3895d",
        "type": "hue-bridge",
        "name": "Philips hue",
        "bridge": "192.168.178.75",
        "key": "fxRojU6dJqZ7h0aAxTAXfAQMO5JiCGMaENscaLtg",
        "interval": "3000",
        "disableupdates": false
    },
    {
        "id": "6d9c5255.f3c954",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "40844f8.1cf98b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "28756316.ab083c",
        "type": "ui_tab",
        "name": "Alarm",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4be192bf.76117c",
        "type": "ui_tab",
        "name": "E-Heizung",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3de74921.630726",
        "type": "ui_group",
        "name": "Türkontakte",
        "tab": "28756316.ab083c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6245c49.c90963c",
        "type": "ui_group",
        "name": "Heizung manuell",
        "tab": "4be192bf.76117c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f96632f0.e2eae",
        "type": "ui_group",
        "name": "Heizung auto",
        "tab": "4be192bf.76117c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca79f64c.8975d8",
        "type": "ui_group",
        "name": "Messwert",
        "tab": "4be192bf.76117c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8e67aa83.e652d8",
        "type": "ui_tab",
        "name": "Variablen",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf013bab.4ad8d8",
        "type": "ui_tab",
        "name": "Licht",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8ed037.4a1b3",
        "type": "ui_group",
        "name": "Settings",
        "tab": "cf013bab.4ad8d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "afd7242e.e4d3e8",
        "type": "ui_group",
        "name": "State Lights",
        "tab": "cf013bab.4ad8d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cef20a2.d8cbc",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/addons/red/ui",
        "instancehash": "nj6274p7tyhwsdggepoccph2y19kof4nyceje267gnvehlqr5swau16gq8tcxmug",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "abbe899a.38e7f8",
        "type": "ui_group",
        "name": "Group",
        "tab": "",
        "order": null,
        "disp": true,
        "width": 6
    },
    {
        "id": "e7b91b38.1d5708",
        "type": "noraf-config",
        "name": "nora config",
        "group": "Licht",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "HDL Wohnen",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "e30a65b8.cef328",
        "type": "ui_group",
        "name": "Plots",
        "tab": "4be192bf.76117c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "912f2f7b.8659d8",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 380,
        "wires": [
            [
                "419c42cd.09684c",
                "37c63be4.9cc4f4",
                "bbd2d2d8.7c38c"
            ]
        ]
    },
    {
        "id": "da4a265b.d8f7a8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "d": true,
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "419c42cd.09684c",
        "type": "function",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Wasser im Waschraum\";\n    message=\" Wassersensor hat Wasser im Keller detektiert!\";\n}\nelse\n{\n    msg.topic=\"Info Wassersensor Keller\";\n    message=\" Wassersensor meldet i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "da4a265b.d8f7a8",
                "69a2326c.1ec8b4"
            ]
        ]
    },
    {
        "id": "69a2326c.1ec8b4",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Alarm_Trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3d6f711.0736e",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Wasser im Keller 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "cd8877b9.b9a4c",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "kein Wasser im Keller 0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "d52e4659.e01e1",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Mailbenachrichtigung bei Wasser im Keller",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "d38220be.60fa9",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "name": "",
        "iface": "BidCos-RF",
        "channel": "OEQ2019168:1 Rauchmelder Schlafzimmer",
        "datapoint": "LOWBAT",
        "mode": "",
        "start": true,
        "change": true,
        "cache": true,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "298bbd3f.e74a12",
                "2d2b3bd5.ab9f2c"
            ]
        ]
    },
    {
        "id": "561d43af.c84e2c",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Batteriestatus Rachmelder Zimmer Konstantin\";\n    message=\"Die Batterie des Rauchmelders muss gewechselt werden!\";\n}\nelse\n{\n    msg.topic=\"Batteriestatus Rachmelder Zimmer Konstantin\";\n    message=\" Batterie Rauchmelder ist i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "e2bd4262.0790f8"
            ]
        ]
    },
    {
        "id": "e2bd4262.0790f8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1310,
        "y": 820,
        "wires": []
    },
    {
        "id": "298bbd3f.e74a12",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "e681b13b.5742b8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "d38220be.60fa9"
            ]
        ]
    },
    {
        "id": "3799839b.ea84bc",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Status Wasser",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "685662d.402a69c",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Mailbenachrichtigung Batteriestatus Rauchmelder",
        "info": "",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "be2c0e2.6f4b2f",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 820,
        "wires": [
            [
                "561d43af.c84e2c"
            ]
        ]
    },
    {
        "id": "2d2b3bd5.ab9f2c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 820,
        "wires": [
            [
                "be2c0e2.6f4b2f",
                "298bbd3f.e74a12"
            ]
        ]
    },
    {
        "id": "377a238e.1736ec",
        "type": "ccu-sysvar",
        "z": "c1790f94.1fa788",
        "name": "SysVar_Wasserstand_Waschraum",
        "ccuConfig": "38263145.35ea0e",
        "topic": "ReGaHSS/${Name}",
        "change": true,
        "cache": true,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "3799839b.ea84bc"
            ]
        ]
    },
    {
        "id": "76d0e208.6f500c",
        "type": "ccu-sysvar",
        "z": "c1790f94.1fa788",
        "name": "SysVar_Wasserstand_HWR",
        "ccuConfig": "38263145.35ea0e",
        "topic": "ReGaHSS/${Name}",
        "change": true,
        "cache": true,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "3799839b.ea84bc"
            ]
        ]
    },
    {
        "id": "e6b70e27.56ec3",
        "type": "function",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Wasser im HWR\";\n    message=\" Wassersensor hat Wasser im Keller detektiert!\";\n}\nelse\n{\n    msg.topic=\"Info Wassersensor Keller\";\n    message=\" Wassersensor meldet i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "4846a878.9852b8"
            ]
        ]
    },
    {
        "id": "4846a878.9852b8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "d": true,
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "1e9d1b9d.e58424",
        "type": "delay",
        "z": "27e94ab1.a717e6",
        "name": "1 s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "d2bd78d3.41f238"
            ]
        ]
    },
    {
        "id": "d2bd78d3.41f238",
        "type": "change",
        "z": "27e94ab1.a717e6",
        "name": "clear notification",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff485576.b60ac8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "b1a49199.5416"
            ]
        ]
    },
    {
        "id": "b1a49199.5416",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "name": "RM_Flur_OG",
        "iface": "HmIP-RF",
        "channel": "000A5D899B6E2E:1 Rauchmelder Flur OG",
        "datapoint": "SMOKE_DETECTOR_COMMAND",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "a9a4b458.546ce8"
            ]
        ]
    },
    {
        "id": "4164e95c.d7c8e8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm ein",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "b1a49199.5416"
            ]
        ]
    },
    {
        "id": "a9a4b458.546ce8",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Status IP RM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1060,
        "wires": []
    },
    {
        "id": "779f207e.a2fa88",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "RM_WZ",
        "iface": "HmIP-RF",
        "channel": "000A5D899B72E3:1 Rauchmelder_WZ",
        "datapoint": "SMOKE_DETECTOR_COMMAND",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 1720,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b45a76de.b7ba38",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm ein",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 1420,
        "y": 1200,
        "wires": [
            [
                "c9ec9bb3.6f07"
            ]
        ]
    },
    {
        "id": "c9ec9bb3.6f07",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Status RM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b3dd679.c26a198",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 1140,
        "y": 1280,
        "wires": [
            [
                "8b7ae2e.60aafa"
            ]
        ]
    },
    {
        "id": "9cf8b85f.dbcc58",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Alarm über Fensterkontaktschalter EG Süd",
        "info": "",
        "x": 460,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5409bd24.d0c614",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "every 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "a2d95db0.39c7e",
                "c0feeb7f.5c8bc8",
                "903cb37f.b7b21",
                "1bcaf42a.fae22c"
            ]
        ]
    },
    {
        "id": "6b92b31b.f5793c",
        "type": "ui_text",
        "z": "c1790f94.1fa788",
        "group": "3de74921.630726",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c31044ad.d5baa",
        "type": "ui_button",
        "z": "c1790f94.1fa788",
        "name": "",
        "group": "3de74921.630726",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "quit Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "condition",
        "topicType": "str",
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "cf33e5df.001ee8",
                "77857df6.707784",
                "2e77b0dc.2d5d7",
                "8b7ae2e.60aafa"
            ]
        ]
    },
    {
        "id": "83edb01b.037a8",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Aktivierung_IP-RM",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1486,
        "wires": [
            [
                "779f207e.a2fa88",
                "48add1a8.0d004"
            ]
        ]
    },
    {
        "id": "8b7ae2e.60aafa",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Deaktivierung_IP-RM",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1560,
        "wires": [
            [
                "779f207e.a2fa88",
                "ab121fb1.ad288"
            ]
        ]
    },
    {
        "id": "903cb37f.b7b21",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster WZ Süd",
        "property": "STATUS_FENSTER_WZ_SUED",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 1620,
        "wires": [
            [
                "2e77b0dc.2d5d7"
            ]
        ]
    },
    {
        "id": "8e3cd0f0.ca0bd",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_WZ",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_3",
        "x": 950,
        "y": 1620,
        "wires": [
            [
                "f38ad851.ca1f48",
                "984dd151.19b76"
            ],
            [],
            []
        ]
    },
    {
        "id": "cf33e5df.001ee8",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_Schiebe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_WZ_SCHIEBE",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "1b0e0068.edd89"
            ]
        ]
    },
    {
        "id": "1b0e0068.edd89",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_Schiebe",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_1",
        "x": 960,
        "y": 1360,
        "wires": [
            [
                "f38ad851.ca1f48",
                "aedb1db8.c8797"
            ],
            [],
            []
        ]
    },
    {
        "id": "2eeacce4.045724",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_Küche",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_2",
        "x": 960,
        "y": 1500,
        "wires": [
            [
                "f38ad851.ca1f48",
                "c13e8ff1.8359"
            ],
            [],
            []
        ]
    },
    {
        "id": "c0feeb7f.5c8bc8",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster Küche Süd",
        "property": "STATUS_FENSTER_KUECHE_SUED",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "77857df6.707784"
            ]
        ]
    },
    {
        "id": "a2d95db0.39c7e",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster WZ Schiebe",
        "property": "STATUS_FENSTER_WZ_SCHIEBE",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 1360,
        "wires": [
            [
                "cf33e5df.001ee8"
            ]
        ]
    },
    {
        "id": "77857df6.707784",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_Küche",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_KUECHE_SUED",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "2eeacce4.045724"
            ]
        ]
    },
    {
        "id": "2e77b0dc.2d5d7",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_WZ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_WZ_SUED",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1620,
        "wires": [
            [
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "e259058b.4e57d8",
        "type": "ui_switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "label": "Alarm",
        "tooltip": "",
        "group": "3de74921.630726",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Alarm_aktiv",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 1440,
        "wires": [
            [
                "1b0e0068.edd89",
                "6b92b31b.f5793c",
                "2eeacce4.045724",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "af47937d.a6d06",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "cf33e5df.001ee8",
                "77857df6.707784",
                "2e77b0dc.2d5d7"
            ]
        ]
    },
    {
        "id": "8e807ecc.f943f",
        "type": "change",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "Status Alarm detected",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1820,
        "wires": [
            [
                "2599be95.ce1232"
            ]
        ]
    },
    {
        "id": "2599be95.ce1232",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1740,
        "y": 1820,
        "wires": [
            [
                "f6eee2bb.f7ffe"
            ]
        ]
    },
    {
        "id": "f6eee2bb.f7ffe",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Alarm wurde ausgelöst!\";\n    message=\" Eines der drei Fenster im WZ wurde geöffnet!\";\n}\nelse\n{\n    msg.topic=\"Info Alarmanlage\";\n    message=\" Alarm ist inaktiv!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1970,
        "y": 1820,
        "wires": [
            [
                "47e02129.e648e"
            ]
        ]
    },
    {
        "id": "47e02129.e648e",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 2190,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f38ad851.ca1f48",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "false",
        "triggertopic": "condition",
        "outputtriggeredby": "all",
        "inputCount": "3",
        "topic": "Alarm_push_notification",
        "x": 1190,
        "y": 1760,
        "wires": [
            [],
            [
                "8e807ecc.f943f",
                "a6414d68.115b"
            ],
            []
        ]
    },
    {
        "id": "1bcaf42a.fae22c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "set topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Anwesenheit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1740,
        "wires": [
            [
                "868775cd.f4a868"
            ]
        ]
    },
    {
        "id": "bec48df9.b142",
        "type": "InvertUltimate",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "Invert",
        "x": 690,
        "y": 1740,
        "wires": [
            [
                "1b0e0068.edd89",
                "2eeacce4.045724",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "868775cd.f4a868",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "BestätigungAnwesenheit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BestätigungAnwesenheit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1740,
        "wires": [
            [
                "bec48df9.b142",
                "e1dc8e3.0d4017",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "e1dc8e3.0d4017",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "nicht anwesend",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1840,
        "wires": []
    },
    {
        "id": "fc4c01b6.5239e",
        "type": "remote-notification",
        "z": "c1790f94.1fa788",
        "confignode": "5cef20a2.d8cbc",
        "name": "",
        "notificationTitle": "message.title",
        "notificationTitleType": "msg",
        "notificationBody": "message.body",
        "notificationBodyType": "msg",
        "notificationSound": "default",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 1570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e36c9096.a6bfe",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "property": "alarm",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 380,
        "wires": [
            [
                "fc4c01b6.5239e"
            ]
        ]
    },
    {
        "id": "37c63be4.9cc4f4",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message Fitness-Keller",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Wasser im Fitness-Keller!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "e36c9096.a6bfe"
            ]
        ]
    },
    {
        "id": "bbd2d2d8.7c38c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message HWR Keller",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Wasser im HWR-Keller!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "e36c9096.a6bfe"
            ]
        ]
    },
    {
        "id": "51216689.31e908",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message Alarm",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Fenster WZ wurde geöffnet!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1760,
        "wires": [
            [
                "3b17c33e.6c857c"
            ]
        ]
    },
    {
        "id": "3b17c33e.6c857c",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1830,
        "y": 1760,
        "wires": [
            [
                "d0168b74.702118"
            ]
        ]
    },
    {
        "id": "d0168b74.702118",
        "type": "remote-notification",
        "z": "c1790f94.1fa788",
        "confignode": "5cef20a2.d8cbc",
        "name": "",
        "notificationTitle": "message.title",
        "notificationTitleType": "msg",
        "notificationBody": "message.body",
        "notificationBodyType": "msg",
        "notificationSound": "default",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 2050,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "48add1a8.0d004",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "ALARM ausgelöst",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a6414d68.115b",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1430,
        "y": 1760,
        "wires": [
            [
                "51216689.31e908",
                "bd8eb2c7.be04b"
            ]
        ]
    },
    {
        "id": "984dd151.19b76",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1170,
        "y": 1607,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "ab121fb1.ad288",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "ALARM abgeschaltet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c13e8ff1.8359",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1170,
        "y": 1487,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "aedb1db8.c8797",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1171,
        "y": 1347,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "bd8eb2c7.be04b",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "rbe",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1680,
        "wires": []
    },
    {
        "id": "aad0e07e.194a5",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "condition_WZ",
        "payload": "true",
        "payloadType": "bool",
        "x": 490,
        "y": 1680,
        "wires": [
            [
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "21bb96db.8e4c4a",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a09ea64.cc60858",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 1960,
        "wires": [
            [
                "a6414d68.115b"
            ]
        ]
    }
]