200121_flows.json
[
    {
        "id": "427fc89b.e34038",
        "type": "tab",
        "label": "GlobalLabel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f28065f.6e1fb8",
        "type": "tab",
        "label": "GlobaleVariables",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2aa9e3f.51894",
        "type": "tab",
        "label": "UNREACH Meldungen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1790f94.1fa788",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27e94ab1.a717e6",
        "type": "subflow",
        "name": "1 s clear",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "1e9d1b9d.e58424"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 40,
                "wires": [
                    {
                        "id": "27e94ab1.a717e6",
                        "port": 0
                    },
                    {
                        "id": "d2bd78d3.41f238",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "node-red/timer.png"
    },
    {
        "id": "937d90ca.8d8b",
        "type": "ui_group",
        "name": "Duty Cycle",
        "tab": "8153eb0.fe96118",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8153eb0.fe96118",
        "type": "ui_tab",
        "name": "Funk",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "dd8cb1a4.10e1b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#138181",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#138181",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#138181",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1dc4c4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#138181",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            },
            "lockMenu": "false"
        }
    },
    {
        "id": "38263145.35ea0e",
        "type": "ccu-connection",
        "name": "localhost",
        "host": "localhost",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": true,
        "virtEnabled": true,
        "bcwiEnabled": true,
        "cuxdEnabled": true,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "127.0.0.1",
        "rpcServerHost": "127.0.0.1",
        "rpcBinPort": "2047",
        "rpcXmlPort": "2048",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": "default"
    },
    {
        "id": "46fbe67a.90cd18",
        "type": "ui_group",
        "name": "Variablen",
        "tab": "8e67aa83.e652d8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ef72ce25.023af",
        "type": "ui_tab",
        "name": "Programme",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "159fd603.b44a6a",
        "type": "ui_group",
        "name": "Programme",
        "tab": "ef72ce25.023af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65a72644.483318",
        "type": "ui_group",
        "name": "Rollos auf",
        "tab": "d9a62b87.022f78",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "d9a62b87.022f78",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "510978ab.7cc15",
        "type": "ui_group",
        "name": "Rollladensteuerung",
        "tab": "d9a62b87.022f78",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "6ad7a531.04aedc",
        "type": "position-config",
        "name": "Zeitzone Braunschweig",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "11a99b54.12d7c5",
        "type": "pwsapikey",
        "name": ""
    },
    {
        "id": "c7cf5b30.c72208",
        "type": "ui_tab",
        "name": "Rollo Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83a14265.ea301",
        "type": "ui_group",
        "name": "EG",
        "tab": "c7cf5b30.c72208",
        "order": 2,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "4fbeabc0.4eb114",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fef0dd9c.48b4",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c3abd25.5b9324",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fef0dd9c.48b4",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "67b1424b.30270c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "c7cf5b30.c72208",
        "order": 1,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "ea0abcea.34a5",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c7cf5b30.c72208",
        "order": 3,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "9f923d5e.632c08",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "c7cf5b30.c72208",
        "order": 4,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "ad8f4b33.ec4ff",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "c7cf5b30.c72208",
        "order": 5,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "7f17f2fe.66e3cc",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "c7cf5b30.c72208",
        "order": 6,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "68d1b9a.924e348",
        "type": "ui_group",
        "name": "Soundtouch",
        "tab": "a5aa690c.87a428",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "b6492d1d.e439",
        "type": "ui_group",
        "name": "Group",
        "tab": "a5aa690c.87a428",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29d31533.0524da",
        "type": "ui_group",
        "name": "Volume presets",
        "tab": "a5aa690c.87a428",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5609d593.d13b1c",
        "type": "ui_group",
        "name": "Shuffle",
        "tab": "a5aa690c.87a428",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75b50a15.6a3584",
        "type": "ui_group",
        "name": "Repeat",
        "tab": "a5aa690c.87a428",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5aa690c.87a428",
        "type": "ui_tab",
        "name": "Bose Soundtouch",
        "icon": "fa-music",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce953396.7838d",
        "type": "position-config",
        "name": "",
        "isValide": "false",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "c9474d61.3895d",
        "type": "hue-bridge",
        "name": "Philips hue",
        "bridge": "192.168.178.75",
        "key": "fxRojU6dJqZ7h0aAxTAXfAQMO5JiCGMaENscaLtg",
        "interval": "3000",
        "disableupdates": false
    },
    {
        "id": "6d9c5255.f3c954",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "40844f8.1cf98b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "28756316.ab083c",
        "type": "ui_tab",
        "name": "Alarm",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4be192bf.76117c",
        "type": "ui_tab",
        "name": "E-Heizung",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3de74921.630726",
        "type": "ui_group",
        "name": "Türkontakte",
        "tab": "28756316.ab083c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6245c49.c90963c",
        "type": "ui_group",
        "name": "Heizung manuell",
        "tab": "4be192bf.76117c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f96632f0.e2eae",
        "type": "ui_group",
        "name": "Heizung auto",
        "tab": "4be192bf.76117c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca79f64c.8975d8",
        "type": "ui_group",
        "name": "Messwert",
        "tab": "4be192bf.76117c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8e67aa83.e652d8",
        "type": "ui_tab",
        "name": "Variablen",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf013bab.4ad8d8",
        "type": "ui_tab",
        "name": "Licht",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d8ed037.4a1b3",
        "type": "ui_group",
        "name": "Settings",
        "tab": "cf013bab.4ad8d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "afd7242e.e4d3e8",
        "type": "ui_group",
        "name": "State Lights",
        "tab": "cf013bab.4ad8d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5cef20a2.d8cbc",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/addons/red/ui",
        "instancehash": "nj6274p7tyhwsdggepoccph2y19kof4nyceje267gnvehlqr5swau16gq8tcxmug",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "abbe899a.38e7f8",
        "type": "ui_group",
        "name": "Group",
        "tab": "",
        "order": null,
        "disp": true,
        "width": 6
    },
    {
        "id": "e7b91b38.1d5708",
        "type": "noraf-config",
        "name": "nora config",
        "group": "Licht",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "HDL Wohnen",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "e30a65b8.cef328",
        "type": "ui_group",
        "name": "Plots",
        "tab": "4be192bf.76117c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb73e4c8.3727f8",
        "type": "ccu-rpc",
        "z": "4f28065f.6e1fb8",
        "name": "RPC listBidcosInterfaces",
        "ccuConfig": "38263145.35ea0e",
        "iface": "BidCos-RF",
        "method": "listBidcosInterfaces",
        "params": "[]",
        "topic": "${CCU}/${Interface}/${Method}",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "f1401630.4984a8"
            ]
        ]
    },
    {
        "id": "e638976b.ab6b08",
        "type": "inject",
        "z": "4f28065f.6e1fb8",
        "name": "Intervall 30 sek",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "cb73e4c8.3727f8"
            ]
        ]
    },
    {
        "id": "f1401630.4984a8",
        "type": "function",
        "z": "4f28065f.6e1fb8",
        "name": "[0].DUTY_CYCLE",
        "func": "msg.payload = msg.payload[0].DUTY_CYCLE;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "8ade4d23.4950b"
            ]
        ]
    },
    {
        "id": "8ade4d23.4950b",
        "type": "ui_gauge",
        "z": "4f28065f.6e1fb8",
        "name": "Gauge",
        "group": "937d90ca.8d8b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "b289d39d.59bd4",
        "type": "comment",
        "z": "4f28065f.6e1fb8",
        "name": "Duty Cycle abfragen und im Dashboard anzeigen",
        "info": "Dieser Flow fragt in Intervallen \nvon 30 sekunden den Duty Cycle des \nersten Funk-Interfaces des BidCos-RF\nSchnittstellenprozess (\"rfd\") per RPC ab \nund visualisiert ihn in Node-RED Dashboard.",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "a1b2374.11f4ec8",
        "type": "comment",
        "z": "d2aa9e3f.51894",
        "name": "Anzahl und Liste von nicht erreichbaren Geräten im Dashboard anzeigen",
        "info": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "e086ebe0.bcd118",
        "type": "ui_template",
        "z": "d2aa9e3f.51894",
        "group": "937d90ca.8d8b",
        "name": "Liste unerreichbarer Geräte",
        "order": 2,
        "width": "6",
        "height": "3",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9441636.6ae2ea",
        "type": "ui_text",
        "z": "d2aa9e3f.51894",
        "group": "937d90ca.8d8b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Anzahl unerreichbarer Geräte:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "6218a729.10c688",
        "type": "ccu-rpc-event",
        "z": "d2aa9e3f.51894",
        "name": "UNREACH",
        "iface": "",
        "ccuConfig": "38263145.35ea0e",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "UNREACH",
        "datapointRx": "str",
        "change": true,
        "working": false,
        "cache": true,
        "topic": "${deviceName}",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "c1478bb4.c4d668"
            ]
        ]
    },
    {
        "id": "c1478bb4.c4d668",
        "type": "combine-statistic",
        "z": "d2aa9e3f.51894",
        "name": "",
        "topic": "",
        "operator": "len",
        "falsy": "exclude",
        "defer": 250,
        "timeout": 0,
        "distinction": "topic",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "9441636.6ae2ea",
                "30d685f8.b2a4aa"
            ]
        ]
    },
    {
        "id": "30d685f8.b2a4aa",
        "type": "function",
        "z": "d2aa9e3f.51894",
        "name": "Liste erzeugen",
        "func": "msg.payload = msg.topics.join(', ');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "e086ebe0.bcd118"
            ]
        ]
    },
    {
        "id": "fa73edab.54473",
        "type": "ccu-set-value",
        "z": "427fc89b.e34038",
        "name": "Rollo AZ",
        "iface": "BidCos-RF",
        "ccuConfig": "38263145.35ea0e",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "BLIND",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "LEVEL",
        "datapointRx": "str",
        "force": false,
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "73cd13ef.b76adc",
        "type": "ui_button",
        "z": "427fc89b.e34038",
        "name": "Alle Rollos 90% zu",
        "group": "510978ab.7cc15",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Rollos 90% zu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0.1",
        "payloadType": "num",
        "topic": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "fa73edab.54473"
            ]
        ]
    },
    {
        "id": "652f1ee9.4918c8",
        "type": "ui_button",
        "z": "427fc89b.e34038",
        "name": "Alle Rollos auf",
        "group": "510978ab.7cc15",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Rollos auf",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "fa73edab.54473"
            ]
        ]
    },
    {
        "id": "c87134f7.b8d5d8",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "Payload.maxTemp",
        "func": "msg.payload = msg.payload.temp_maxc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9f260845.8b1478"
            ]
        ]
    },
    {
        "id": "6937f71b.1633f8",
        "type": "openweathermap",
        "z": "427fc89b.e34038",
        "name": "Wetter BS",
        "wtype": "current",
        "lon": "10.52673",
        "lat": "52.26594",
        "city": "",
        "country": "",
        "language": "de",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "c87134f7.b8d5d8",
                "9a7676a3.1558a",
                "6afff351.2e549c"
            ]
        ]
    },
    {
        "id": "2633451a.39ab72",
        "type": "inject",
        "z": "427fc89b.e34038",
        "name": "all 1 min",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "sensor",
                "vt": "string"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "6937f71b.1633f8"
            ]
        ]
    },
    {
        "id": "9a7676a3.1558a",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f260845.8b1478",
        "type": "ui_gauge",
        "z": "427fc89b.e34038",
        "name": "MaxTemperatur",
        "group": "65a72644.483318",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "MaxTemp",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#444ee4",
            "#13c007",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "6afff351.2e549c",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "Payload.temp",
        "func": "msg.payload = msg.payload.tempc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "dd12af54.4b13f"
            ]
        ]
    },
    {
        "id": "dd12af54.4b13f",
        "type": "ui_gauge",
        "z": "427fc89b.e34038",
        "name": "Temperatur",
        "group": "65a72644.483318",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "912f2f7b.8659d8",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 380,
        "wires": [
            [
                "419c42cd.09684c",
                "37c63be4.9cc4f4",
                "bbd2d2d8.7c38c"
            ]
        ]
    },
    {
        "id": "da4a265b.d8f7a8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "d": true,
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "419c42cd.09684c",
        "type": "function",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Wasser im Waschraum\";\n    message=\" Wassersensor hat Wasser im Keller detektiert!\";\n}\nelse\n{\n    msg.topic=\"Info Wassersensor Keller\";\n    message=\" Wassersensor meldet i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "da4a265b.d8f7a8",
                "69a2326c.1ec8b4"
            ]
        ]
    },
    {
        "id": "69a2326c.1ec8b4",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Alarm_Trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3d6f711.0736e",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Wasser im Keller 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "cd8877b9.b9a4c",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "kein Wasser im Keller 0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "d52e4659.e01e1",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Mailbenachrichtigung bei Wasser im Keller",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "d38220be.60fa9",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "name": "",
        "iface": "BidCos-RF",
        "channel": "OEQ2019168:1 Rauchmelder Schlafzimmer",
        "datapoint": "LOWBAT",
        "mode": "",
        "start": true,
        "change": true,
        "cache": true,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "298bbd3f.e74a12",
                "2d2b3bd5.ab9f2c"
            ]
        ]
    },
    {
        "id": "561d43af.c84e2c",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Batteriestatus Rachmelder Zimmer Konstantin\";\n    message=\"Die Batterie des Rauchmelders muss gewechselt werden!\";\n}\nelse\n{\n    msg.topic=\"Batteriestatus Rachmelder Zimmer Konstantin\";\n    message=\" Batterie Rauchmelder ist i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "e2bd4262.0790f8"
            ]
        ]
    },
    {
        "id": "e2bd4262.0790f8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1310,
        "y": 820,
        "wires": []
    },
    {
        "id": "298bbd3f.e74a12",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "e681b13b.5742b8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "d38220be.60fa9"
            ]
        ]
    },
    {
        "id": "3799839b.ea84bc",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Status Wasser",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "912f2f7b.8659d8"
            ]
        ]
    },
    {
        "id": "685662d.402a69c",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Mailbenachrichtigung Batteriestatus Rauchmelder",
        "info": "",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "be2c0e2.6f4b2f",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 820,
        "wires": [
            [
                "561d43af.c84e2c"
            ]
        ]
    },
    {
        "id": "2d2b3bd5.ab9f2c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 820,
        "wires": [
            [
                "be2c0e2.6f4b2f",
                "298bbd3f.e74a12"
            ]
        ]
    },
    {
        "id": "377a238e.1736ec",
        "type": "ccu-sysvar",
        "z": "c1790f94.1fa788",
        "name": "SysVar_Wasserstand_Waschraum",
        "ccuConfig": "38263145.35ea0e",
        "topic": "ReGaHSS/${Name}",
        "change": true,
        "cache": true,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "3799839b.ea84bc"
            ]
        ]
    },
    {
        "id": "76d0e208.6f500c",
        "type": "ccu-sysvar",
        "z": "c1790f94.1fa788",
        "name": "SysVar_Wasserstand_HWR",
        "ccuConfig": "38263145.35ea0e",
        "topic": "ReGaHSS/${Name}",
        "change": true,
        "cache": true,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "3799839b.ea84bc"
            ]
        ]
    },
    {
        "id": "e6b70e27.56ec3",
        "type": "function",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Wasser im HWR\";\n    message=\" Wassersensor hat Wasser im Keller detektiert!\";\n}\nelse\n{\n    msg.topic=\"Info Wassersensor Keller\";\n    message=\" Wassersensor meldet i.O.!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "4846a878.9852b8"
            ]
        ]
    },
    {
        "id": "4846a878.9852b8",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "d": true,
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "1e9d1b9d.e58424",
        "type": "delay",
        "z": "27e94ab1.a717e6",
        "name": "1 s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "d2bd78d3.41f238"
            ]
        ]
    },
    {
        "id": "d2bd78d3.41f238",
        "type": "change",
        "z": "27e94ab1.a717e6",
        "name": "clear notification",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff485576.b60ac8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "b1a49199.5416"
            ]
        ]
    },
    {
        "id": "b1a49199.5416",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "name": "RM_Flur_OG",
        "iface": "HmIP-RF",
        "channel": "000A5D899B6E2E:1 Rauchmelder Flur OG",
        "datapoint": "SMOKE_DETECTOR_COMMAND",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "a9a4b458.546ce8"
            ]
        ]
    },
    {
        "id": "4164e95c.d7c8e8",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm ein",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "b1a49199.5416"
            ]
        ]
    },
    {
        "id": "a9a4b458.546ce8",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Status IP RM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1060,
        "wires": []
    },
    {
        "id": "779f207e.a2fa88",
        "type": "ccu-value",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "RM_WZ",
        "iface": "HmIP-RF",
        "channel": "000A5D899B72E3:1 Rauchmelder_WZ",
        "datapoint": "SMOKE_DETECTOR_COMMAND",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 1720,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b45a76de.b7ba38",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm ein",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 1420,
        "y": 1200,
        "wires": [
            [
                "c9ec9bb3.6f07"
            ]
        ]
    },
    {
        "id": "c9ec9bb3.6f07",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "Status RM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b3dd679.c26a198",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "Alarm aus",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 1140,
        "y": 1280,
        "wires": [
            [
                "8b7ae2e.60aafa"
            ]
        ]
    },
    {
        "id": "57e19009.56917",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Current_LUX-Value_West",
        "iface": "HmIP-RF",
        "channel": "000D5D89B156DE:1 Lichtsensor_Garten_Ch1",
        "datapoint": "CURRENT_ILLUMINATION",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "10264b7f.dfae85",
                "607e1e8b.9d5e08",
                "c06c5420.a6f5d8"
            ]
        ]
    },
    {
        "id": "10264b7f.dfae85",
        "type": "ui_chart",
        "z": "4f28065f.6e1fb8",
        "d": true,
        "name": "Lichtwert West",
        "group": "937d90ca.8d8b",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "607e1e8b.9d5e08",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "937d90ca.8d8b",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Lichtwert West",
        "label": "Lichtwert Sensor West",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "ec88437c.17b2a8",
        "type": "sun-position",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "positionConfig": "6ad7a531.04aedc",
        "rules": [],
        "onlyOnChange": "true",
        "topic": "",
        "outputs": 1,
        "start": "blueHourDawnStart",
        "startType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "end": "blueHourDuskEnd",
        "endType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "x": 330,
        "y": 880,
        "wires": [
            [
                "76921c3e.807e4c",
                "c94b0070.0ca"
            ]
        ]
    },
    {
        "id": "76921c3e.807e4c",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "937d90ca.8d8b",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Postition Sonne",
        "format": "{{msg.payload.azimuth | number:0}}",
        "layout": "row-spread",
        "x": 640,
        "y": 860,
        "wires": []
    },
    {
        "id": "c94b0070.0ca",
        "type": "switch",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.azimuth | number:0",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e7e96caa.6ebdc",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Current_LUX-Value_Ost",
        "iface": "HmIP-RF",
        "channel": "000D5D89B154E7:1 Lichtsensor 2 Garten Ch1",
        "datapoint": "CURRENT_ILLUMINATION",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "9d2766f2.8c5a18",
                "3dab881.e036978",
                "a509df9f.c0dcb",
                "f16c2087.68b2f"
            ]
        ]
    },
    {
        "id": "3dab881.e036978",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "937d90ca.8d8b",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Lichtwert Ost",
        "label": "Lichtwert Sensor Ost",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d2766f2.8c5a18",
        "type": "ui_chart",
        "z": "4f28065f.6e1fb8",
        "d": true,
        "name": "Lichtwert Ost",
        "group": "937d90ca.8d8b",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 670,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9cf8b85f.dbcc58",
        "type": "comment",
        "z": "c1790f94.1fa788",
        "name": "Alarm über Fensterkontaktschalter EG Süd",
        "info": "",
        "x": 460,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5409bd24.d0c614",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "every 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "a2d95db0.39c7e",
                "c0feeb7f.5c8bc8",
                "903cb37f.b7b21",
                "1bcaf42a.fae22c"
            ]
        ]
    },
    {
        "id": "6b92b31b.f5793c",
        "type": "ui_text",
        "z": "c1790f94.1fa788",
        "group": "3de74921.630726",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c31044ad.d5baa",
        "type": "ui_button",
        "z": "c1790f94.1fa788",
        "name": "",
        "group": "3de74921.630726",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "quit Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "condition",
        "topicType": "str",
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "cf33e5df.001ee8",
                "77857df6.707784",
                "2e77b0dc.2d5d7",
                "8b7ae2e.60aafa"
            ]
        ]
    },
    {
        "id": "83edb01b.037a8",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Aktivierung_IP-RM",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1486,
        "wires": [
            [
                "779f207e.a2fa88",
                "48add1a8.0d004"
            ]
        ]
    },
    {
        "id": "8b7ae2e.60aafa",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Deaktivierung_IP-RM",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1560,
        "wires": [
            [
                "779f207e.a2fa88",
                "ab121fb1.ad288"
            ]
        ]
    },
    {
        "id": "43756165.b9893",
        "type": "combine-statistic",
        "z": "4f28065f.6e1fb8",
        "name": "maxLUX-Value",
        "topic": "",
        "operator": "max",
        "falsy": "include",
        "defer": 250,
        "timeout": 0,
        "distinction": "topic",
        "x": 880,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1591527c.b133fe",
        "type": "debug",
        "z": "4f28065f.6e1fb8",
        "name": "OUTPUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "a509df9f.c0dcb",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LUX_Ost",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "b6c84f10.b7711"
            ]
        ]
    },
    {
        "id": "f3f09032.346ac",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "choose lower value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$min([$flowContext(\"temp1\"), $flowContext(\"temp2\")])\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "78124c56.cd3994",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "store temp1",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 880,
        "wires": [
            [
                "f3f09032.346ac"
            ]
        ]
    },
    {
        "id": "c2593a93.b4ecf8",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "store temp2",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 920,
        "wires": [
            [
                "f3f09032.346ac"
            ]
        ]
    },
    {
        "id": "c06c5420.a6f5d8",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LUX_West",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "b6c84f10.b7711"
            ]
        ]
    },
    {
        "id": "b6c84f10.b7711",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "max value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$max([$flowContext(\"LUX_Ost\"),$flowContext(\"LUX_Süd\"), $flowContext(\"LUX_West\")])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 500,
        "wires": [
            [
                "1591527c.b133fe",
                "e98c144d.020558",
                "7be3ad72.e16494"
            ]
        ]
    },
    {
        "id": "82ce7af1.cc6618",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "937d90ca.8d8b",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "average lux value",
        "label": "average lux value",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1310,
        "y": 540,
        "wires": []
    },
    {
        "id": "23c0c008.4c519",
        "type": "ui_chart",
        "z": "4f28065f.6e1fb8",
        "name": "average lux value",
        "group": "937d90ca.8d8b",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ea660670.854a18",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Current_LUX-Value_Süd",
        "iface": "HmIP-RF",
        "channel": "000D5D89B9EDA3:1 Lichtsensor 3 Garten Ch1",
        "datapoint": "CURRENT_ILLUMINATION",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 390,
        "y": 720,
        "wires": [
            [
                "a391bfca.3ea27",
                "f0c1402d.276eb",
                "3a2ca179.e208be"
            ]
        ]
    },
    {
        "id": "f0c1402d.276eb",
        "type": "ui_chart",
        "z": "4f28065f.6e1fb8",
        "d": true,
        "name": "Lichtwert Süd",
        "group": "937d90ca.8d8b",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 680,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a391bfca.3ea27",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "937d90ca.8d8b",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Lichtwert Süd",
        "label": "Lichtwert Sensor Süd",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "3a2ca179.e208be",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LUX_Süd",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "b6c84f10.b7711"
            ]
        ]
    },
    {
        "id": "ee1b694d.efd338",
        "type": "function",
        "z": "4f28065f.6e1fb8",
        "name": "transferLightValueOut",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"maxLightValue\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1320,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd27d1a.68469",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "globalThresholdLuxEnv",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"thresholdMaxLightValue\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "d3ef02d1.3c087"
            ]
        ]
    },
    {
        "id": "4de22504.baa08c",
        "type": "ui_numeric",
        "z": "427fc89b.e34038",
        "name": "",
        "label": "threshold lux sunprotection [lux]",
        "tooltip": "",
        "group": "46fbe67a.90cd18",
        "order": 5,
        "width": "6",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "sunprotection",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "step": "5000",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "9fd27d1a.68469",
                "1b1f822a.fd37de"
            ]
        ]
    },
    {
        "id": "d3ef02d1.3c087",
        "type": "ui_text",
        "z": "427fc89b.e34038",
        "d": true,
        "group": "46fbe67a.90cd18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "globalThresholdLuxEnv",
        "label": "threshold lux env sunprotection",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "1b1f822a.fd37de",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "threshold",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ada0631.75cfe8",
        "type": "inject",
        "z": "427fc89b.e34038",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "69388522.79c8ac",
                "735f562f.7aee18"
            ]
        ]
    },
    {
        "id": "69388522.79c8ac",
        "type": "change",
        "z": "427fc89b.e34038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user1",
                "pt": "global",
                "to": "{\"name\":\"Ralph\",\"ID\":152}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "b181f0b.41a7f1"
            ]
        ]
    },
    {
        "id": "735f562f.7aee18",
        "type": "change",
        "z": "427fc89b.e34038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user2",
                "pt": "global",
                "to": "{\"name\":\"Loren\",\"ID\":444}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "b181f0b.41a7f1"
            ]
        ]
    },
    {
        "id": "12b5a8e2.08b087",
        "type": "inject",
        "z": "427fc89b.e34038",
        "name": "fetch id of user1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "user1.ID",
        "payloadType": "global",
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "268baab6.d433b6"
            ]
        ]
    },
    {
        "id": "c452bda5.849ca",
        "type": "inject",
        "z": "427fc89b.e34038",
        "name": "modify id of user2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "900",
        "payloadType": "num",
        "x": 210,
        "y": 1680,
        "wires": [
            [
                "9f2fb01f.afdf6"
            ]
        ]
    },
    {
        "id": "268baab6.d433b6",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1580,
        "wires": []
    },
    {
        "id": "b181f0b.41a7f1",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9f2fb01f.afdf6",
        "type": "change",
        "z": "427fc89b.e34038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user2.ID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1680,
        "wires": [
            [
                "aec58c30.77783"
            ]
        ]
    },
    {
        "id": "aec58c30.77783",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a017dea8.446a",
        "type": "comment",
        "z": "427fc89b.e34038",
        "name": "Set global Variable",
        "info": "![](https://i.imgur.com/28Dx6wl.png)",
        "x": 190,
        "y": 1420,
        "wires": []
    },
    {
        "id": "eac678a1.9c4a78",
        "type": "comment",
        "z": "427fc89b.e34038",
        "name": "Get a Variable",
        "info": "",
        "x": 170,
        "y": 1540,
        "wires": []
    },
    {
        "id": "46283f8f.9ac6",
        "type": "comment",
        "z": "427fc89b.e34038",
        "name": "Modify a Variable",
        "info": "",
        "x": 180,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9671fc2a.74f16",
        "type": "comment",
        "z": "427fc89b.e34038",
        "name": "Delete",
        "info": "",
        "x": 150,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f052bc27.88ac9",
        "type": "inject",
        "z": "427fc89b.e34038",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1800,
        "wires": [
            [
                "7c71029a.5cd34c"
            ]
        ]
    },
    {
        "id": "7c71029a.5cd34c",
        "type": "change",
        "z": "427fc89b.e34038",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "user1",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1800,
        "wires": [
            [
                "35106973.321316"
            ]
        ]
    },
    {
        "id": "35106973.321316",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1800,
        "wires": []
    },
    {
        "id": "e16e4469.017528",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "globalThresholdTempEnv",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"thresholdMaxTempEnvValue\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 995,
        "wires": [
            [
                "9b5590f9.695a4"
            ]
        ]
    },
    {
        "id": "9b5590f9.695a4",
        "type": "ui_text",
        "z": "427fc89b.e34038",
        "d": true,
        "group": "46fbe67a.90cd18",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "globalThresholdTempEnv",
        "label": "threshold temp env sunprotection",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 995,
        "wires": []
    },
    {
        "id": "d3481753.14b5d8",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "threshold",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 955,
        "wires": []
    },
    {
        "id": "420f2c14.e30fd4",
        "type": "ui_numeric",
        "z": "427fc89b.e34038",
        "name": "",
        "label": "threshold Tenv sunprotection [°C]",
        "tooltip": "",
        "group": "46fbe67a.90cd18",
        "order": 8,
        "width": "6",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "step": "2",
        "x": 200,
        "y": 995,
        "wires": [
            [
                "e16e4469.017528",
                "d3481753.14b5d8"
            ]
        ]
    },
    {
        "id": "e98c144d.020558",
        "type": "smooth",
        "z": "4f28065f.6e1fb8",
        "name": "MeanOfLightValue",
        "property": "payload",
        "action": "mean",
        "count": "30",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "23c0c008.4c519",
                "82ce7af1.cc6618",
                "ee1b694d.efd338"
            ]
        ]
    },
    {
        "id": "7be3ad72.e16494",
        "type": "smooth",
        "z": "4f28065f.6e1fb8",
        "d": true,
        "name": "lowPassOfLightValue",
        "property": "payload",
        "action": "low",
        "count": "15",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "fac1570b.b64c18"
            ]
        ]
    },
    {
        "id": "fac1570b.b64c18",
        "type": "ui_chart",
        "z": "4f28065f.6e1fb8",
        "d": true,
        "name": "low pass lux value",
        "group": "937d90ca.8d8b",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1370,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "691ce48.31c621c",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "StartTimeIrrigation_String",
        "func": "var payload = msg.payload;\n    global.set(\"StartTimeIrrigation_String\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 1115,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6db457.b6ee9c",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "timeIrrigation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1075,
        "wires": []
    },
    {
        "id": "5fd315f8.643dfc",
        "type": "ui_text_input",
        "z": "427fc89b.e34038",
        "name": "start time lawn irrigation",
        "label": "start time lawn irrigation",
        "tooltip": "HH:MM",
        "group": "46fbe67a.90cd18",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 170,
        "y": 1115,
        "wires": [
            [
                "691ce48.31c621c"
            ]
        ]
    },
    {
        "id": "342a79e9.697e06",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "EndTimeIrrigation_String",
        "func": "var payload = msg.payload;\n    global.set(\"EndTimeIrrigation_String\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 1155,
        "wires": [
            []
        ]
    },
    {
        "id": "f327cdc1.afd7a",
        "type": "ui_text_input",
        "z": "427fc89b.e34038",
        "name": "end time lawn irrigation",
        "label": "end time lawn irrigation",
        "tooltip": "HH:MM",
        "group": "46fbe67a.90cd18",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 170,
        "y": 1155,
        "wires": [
            [
                "342a79e9.697e06"
            ]
        ]
    },
    {
        "id": "13fd472f.e29f89",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "globalThresholdMinLuxBlind",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"thresholdMinLightBlindControl\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 835,
        "wires": [
            [
                "bc9ee91d.680ff8"
            ]
        ]
    },
    {
        "id": "21f1e04b.550d9",
        "type": "ui_numeric",
        "z": "427fc89b.e34038",
        "name": "",
        "label": "threshold lux blindcontrol [lux]",
        "tooltip": "",
        "group": "46fbe67a.90cd18",
        "order": 7,
        "width": "6",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "step": "10",
        "x": 190,
        "y": 835,
        "wires": [
            [
                "13fd472f.e29f89",
                "752681d1.1e65b"
            ]
        ]
    },
    {
        "id": "bc9ee91d.680ff8",
        "type": "ui_text",
        "z": "427fc89b.e34038",
        "d": true,
        "group": "46fbe67a.90cd18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "globalThresholdLuxEnv",
        "label": "threshold lux env sunprotection",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 835,
        "wires": []
    },
    {
        "id": "752681d1.1e65b",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "threshold",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 795,
        "wires": []
    },
    {
        "id": "f16c2087.68b2f",
        "type": "function",
        "z": "4f28065f.6e1fb8",
        "name": "transferLightValueOut",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"maxLightValueEastUnfilterd\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "99de15d8.94b4f8",
        "type": "function",
        "z": "427fc89b.e34038",
        "name": "globalThresholdLuxBlindEast",
        "func": "var payload = msg.payload;\nif(payload>0)\n    global.set(\"thresholdMaxLightValueBlindEast\",payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 720,
        "wires": [
            [
                "1a8111a8.30e39e"
            ]
        ]
    },
    {
        "id": "50fad2a1.d2c1dc",
        "type": "ui_numeric",
        "z": "427fc89b.e34038",
        "name": "",
        "label": "threshold lux blind east [lux]",
        "tooltip": "",
        "group": "46fbe67a.90cd18",
        "order": 6,
        "width": "6",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "step": "5000",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "99de15d8.94b4f8",
                "ebd1e743.683108"
            ]
        ]
    },
    {
        "id": "1a8111a8.30e39e",
        "type": "ui_text",
        "z": "427fc89b.e34038",
        "d": true,
        "group": "46fbe67a.90cd18",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "globalThresholdLuxEnv",
        "label": "threshold lux env sunprotection",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "ebd1e743.683108",
        "type": "debug",
        "z": "427fc89b.e34038",
        "name": "threshold",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "a662edc1.417ca",
        "type": "ui_switch",
        "z": "427fc89b.e34038",
        "name": "",
        "label": "switch sunprotection",
        "tooltip": "",
        "group": "46fbe67a.90cd18",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "642aad1a.93fa74"
            ]
        ]
    },
    {
        "id": "642aad1a.93fa74",
        "type": "change",
        "z": "427fc89b.e34038",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "100000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "1b1f822a.fd37de"
            ]
        ]
    },
    {
        "id": "c3e678cf.405358",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Status Fenster WZ Schiebe",
        "iface": "HmIP-RF",
        "channel": "0000DA499B2292:1 Fensterkontakt Schiebefenster WZ Süd",
        "datapoint": "STATE",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "f75b32d0.947db"
            ]
        ]
    },
    {
        "id": "fef20db2.ac026",
        "type": "debug",
        "z": "4f28065f.6e1fb8",
        "name": "STATUS_FENSTER_WZ_SCHIEBE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 1300,
        "wires": []
    },
    {
        "id": "51d761f6.6412a",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Status Fenster WZ Süd",
        "iface": "HmIP-RF",
        "channel": "0000DA499B225B:1 Fensterkontakt WZ Süd",
        "datapoint": "STATE",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 410,
        "y": 1300,
        "wires": [
            [
                "ae59d357.fb042"
            ]
        ]
    },
    {
        "id": "3661e00b.43c28",
        "type": "ccu-value",
        "z": "4f28065f.6e1fb8",
        "name": "Status Fenster Küche Süd",
        "iface": "HmIP-RF",
        "channel": "0000DA499B218B:1 Fensterkontakt Küche Süd",
        "datapoint": "STATE",
        "mode": "",
        "start": true,
        "change": true,
        "cache": false,
        "queue": false,
        "on": 0,
        "onType": "undefined",
        "ramp": 0,
        "rampType": "undefined",
        "working": false,
        "ccuConfig": "38263145.35ea0e",
        "topic": "${CCU}/${Interface}/${channel}/${datapoint}",
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "d1bd0e60.952be"
            ]
        ]
    },
    {
        "id": "c81fe558.b580c8",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "STATUS_FENSTER_KUECHE_SUED",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1480,
        "wires": [
            [
                "fef20db2.ac026"
            ]
        ]
    },
    {
        "id": "903cb37f.b7b21",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster WZ Süd",
        "property": "STATUS_FENSTER_WZ_SUED",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 1620,
        "wires": [
            [
                "2e77b0dc.2d5d7"
            ]
        ]
    },
    {
        "id": "8e3cd0f0.ca0bd",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_WZ",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_3",
        "x": 950,
        "y": 1620,
        "wires": [
            [
                "f38ad851.ca1f48",
                "984dd151.19b76"
            ],
            [],
            []
        ]
    },
    {
        "id": "cf33e5df.001ee8",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_Schiebe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_WZ_SCHIEBE",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "1b0e0068.edd89"
            ]
        ]
    },
    {
        "id": "1b0e0068.edd89",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_Schiebe",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_1",
        "x": 960,
        "y": 1360,
        "wires": [
            [
                "f38ad851.ca1f48",
                "aedb1db8.c8797"
            ],
            [],
            []
        ]
    },
    {
        "id": "2eeacce4.045724",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "condition_Küche",
        "outputtriggeredby": "onlyonetopic",
        "inputCount": "3",
        "topic": "Alarm_2",
        "x": 960,
        "y": 1500,
        "wires": [
            [
                "f38ad851.ca1f48",
                "c13e8ff1.8359"
            ],
            [],
            []
        ]
    },
    {
        "id": "c0feeb7f.5c8bc8",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster Küche Süd",
        "property": "STATUS_FENSTER_KUECHE_SUED",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "77857df6.707784"
            ]
        ]
    },
    {
        "id": "a2d95db0.39c7e",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "Status Fenster WZ Schiebe",
        "property": "STATUS_FENSTER_WZ_SCHIEBE",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 1360,
        "wires": [
            [
                "cf33e5df.001ee8"
            ]
        ]
    },
    {
        "id": "f0f22d06.de052",
        "type": "inject",
        "z": "4f28065f.6e1fb8",
        "name": "false ini",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "f75b32d0.947db",
                "ae59d357.fb042",
                "d1bd0e60.952be"
            ]
        ]
    },
    {
        "id": "80475658.260388",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "STATUS_FENSTER_WZ_SUED",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1300,
        "wires": [
            [
                "fef20db2.ac026"
            ]
        ]
    },
    {
        "id": "ae59d357.fb042",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "80475658.260388",
                "b52699b6.dd3468"
            ]
        ]
    },
    {
        "id": "d1bd0e60.952be",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1480,
        "wires": [
            [
                "c81fe558.b580c8",
                "f9d2ffaa.e4757"
            ]
        ]
    },
    {
        "id": "f75b32d0.947db",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1120,
        "wires": [
            [
                "1293c2cb.66578d",
                "5375f072.d5e5"
            ]
        ]
    },
    {
        "id": "1293c2cb.66578d",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "STATUS_FENSTER_WZ_SCHIEBE",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "fef20db2.ac026"
            ]
        ]
    },
    {
        "id": "5375f072.d5e5",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "OFFEN",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "ZU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1040,
        "wires": [
            [
                "b73e39c5.8b5aa8"
            ]
        ]
    },
    {
        "id": "b73e39c5.8b5aa8",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "3de74921.630726",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fenster WZ Schiebe",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 1080,
        "wires": []
    },
    {
        "id": "edf7bb2f.ab2368",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "3de74921.630726",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fenster Küche Süd",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ea3e75a2.acaf58",
        "type": "ui_text",
        "z": "4f28065f.6e1fb8",
        "group": "3de74921.630726",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fenster WZ Schmal Süd",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 950,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b52699b6.dd3468",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "OFFEN",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "ZU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1220,
        "wires": [
            [
                "ea3e75a2.acaf58"
            ]
        ]
    },
    {
        "id": "f9d2ffaa.e4757",
        "type": "change",
        "z": "4f28065f.6e1fb8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "OFFEN",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "ZU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1400,
        "wires": [
            [
                "edf7bb2f.ab2368"
            ]
        ]
    },
    {
        "id": "77857df6.707784",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_Küche",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_KUECHE_SUED",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "2eeacce4.045724"
            ]
        ]
    },
    {
        "id": "2e77b0dc.2d5d7",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "condition_WZ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STATUS_FENSTER_WZ_SUED",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1620,
        "wires": [
            [
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "e259058b.4e57d8",
        "type": "ui_switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "label": "Alarm",
        "tooltip": "",
        "group": "3de74921.630726",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Alarm_aktiv",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 1440,
        "wires": [
            [
                "1b0e0068.edd89",
                "6b92b31b.f5793c",
                "2eeacce4.045724",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "af47937d.a6d06",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "cf33e5df.001ee8",
                "77857df6.707784",
                "2e77b0dc.2d5d7"
            ]
        ]
    },
    {
        "id": "8e807ecc.f943f",
        "type": "change",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "Status Alarm detected",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1820,
        "wires": [
            [
                "2599be95.ce1232"
            ]
        ]
    },
    {
        "id": "2599be95.ce1232",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "Trigger_Alarm",
        "func": "var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>0 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=1 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1740,
        "y": 1820,
        "wires": [
            [
                "f6eee2bb.f7ffe"
            ]
        ]
    },
    {
        "id": "f6eee2bb.f7ffe",
        "type": "function",
        "z": "c1790f94.1fa788",
        "name": "message_to_mail",
        "func": "var temp=msg.payload;\nmsg.to=\"gerd.loedige@posteo.de\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d= new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"ACHTUNG: Alarm wurde ausgelöst!\";\n    message=\" Eines der drei Fenster im WZ wurde geöffnet!\";\n}\nelse\n{\n    msg.topic=\"Info Alarmanlage\";\n    message=\" Alarm ist inaktiv!\";\n}\nmsg.payload=\"time:\"+d+message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1970,
        "y": 1820,
        "wires": [
            [
                "47e02129.e648e"
            ]
        ]
    },
    {
        "id": "47e02129.e648e",
        "type": "e-mail",
        "z": "c1790f94.1fa788",
        "server": "posteo.de",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "gerd.loedige@posteo.de",
        "dname": "Gerds Mail",
        "x": 2190,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f38ad851.ca1f48",
        "type": "BooleanLogicUltimate",
        "z": "c1790f94.1fa788",
        "name": "",
        "filtertrue": "onlytrue",
        "persist": true,
        "sInitializeWith": "false",
        "triggertopic": "condition",
        "outputtriggeredby": "all",
        "inputCount": "3",
        "topic": "Alarm_push_notification",
        "x": 1190,
        "y": 1760,
        "wires": [
            [],
            [
                "8e807ecc.f943f",
                "a6414d68.115b"
            ],
            []
        ]
    },
    {
        "id": "1bcaf42a.fae22c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "set topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Anwesenheit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1740,
        "wires": [
            [
                "868775cd.f4a868"
            ]
        ]
    },
    {
        "id": "bec48df9.b142",
        "type": "InvertUltimate",
        "z": "c1790f94.1fa788",
        "d": true,
        "name": "Invert",
        "x": 690,
        "y": 1740,
        "wires": [
            [
                "1b0e0068.edd89",
                "2eeacce4.045724",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "868775cd.f4a868",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "BestätigungAnwesenheit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BestätigungAnwesenheit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1740,
        "wires": [
            [
                "bec48df9.b142",
                "e1dc8e3.0d4017",
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "e1dc8e3.0d4017",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "nicht anwesend",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1840,
        "wires": []
    },
    {
        "id": "91c8764c.199b28",
        "type": "remote-access",
        "z": "d2aa9e3f.51894",
        "confignode": "5cef20a2.d8cbc",
        "name": "",
        "verbose": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fc4c01b6.5239e",
        "type": "remote-notification",
        "z": "c1790f94.1fa788",
        "confignode": "5cef20a2.d8cbc",
        "name": "",
        "notificationTitle": "message.title",
        "notificationTitleType": "msg",
        "notificationBody": "message.body",
        "notificationBodyType": "msg",
        "notificationSound": "default",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 1570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e36c9096.a6bfe",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "property": "alarm",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 380,
        "wires": [
            [
                "fc4c01b6.5239e"
            ]
        ]
    },
    {
        "id": "37c63be4.9cc4f4",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message Fitness-Keller",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Wasser im Fitness-Keller!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "e36c9096.a6bfe"
            ]
        ]
    },
    {
        "id": "bbd2d2d8.7c38c",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message HWR Keller",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Wasser im HWR-Keller!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "e36c9096.a6bfe"
            ]
        ]
    },
    {
        "id": "51216689.31e908",
        "type": "change",
        "z": "c1790f94.1fa788",
        "name": "Message Alarm",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"title\":\"ALARM\",\"body\":\"Fenster WZ wurde geöffnet!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1760,
        "wires": [
            [
                "3b17c33e.6c857c"
            ]
        ]
    },
    {
        "id": "3b17c33e.6c857c",
        "type": "switch",
        "z": "c1790f94.1fa788",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1830,
        "y": 1760,
        "wires": [
            [
                "d0168b74.702118"
            ]
        ]
    },
    {
        "id": "d0168b74.702118",
        "type": "remote-notification",
        "z": "c1790f94.1fa788",
        "confignode": "5cef20a2.d8cbc",
        "name": "",
        "notificationTitle": "message.title",
        "notificationTitleType": "msg",
        "notificationBody": "message.body",
        "notificationBodyType": "msg",
        "notificationSound": "default",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 2050,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "48add1a8.0d004",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "ALARM ausgelöst",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a6414d68.115b",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1430,
        "y": 1760,
        "wires": [
            [
                "51216689.31e908",
                "bd8eb2c7.be04b"
            ]
        ]
    },
    {
        "id": "984dd151.19b76",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1170,
        "y": 1607,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "ab121fb1.ad288",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "ALARM abgeschaltet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c13e8ff1.8359",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1170,
        "y": 1487,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "aedb1db8.c8797",
        "type": "rbe",
        "z": "c1790f94.1fa788",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1171,
        "y": 1347,
        "wires": [
            [
                "83edb01b.037a8"
            ]
        ]
    },
    {
        "id": "bd8eb2c7.be04b",
        "type": "debug",
        "z": "c1790f94.1fa788",
        "name": "rbe",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1680,
        "wires": []
    },
    {
        "id": "aad0e07e.194a5",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "condition_WZ",
        "payload": "true",
        "payloadType": "bool",
        "x": 490,
        "y": 1680,
        "wires": [
            [
                "8e3cd0f0.ca0bd"
            ]
        ]
    },
    {
        "id": "21bb96db.8e4c4a",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a09ea64.cc60858",
        "type": "inject",
        "z": "c1790f94.1fa788",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 1960,
        "wires": [
            [
                "a6414d68.115b"
            ]
        ]
    }
]